* {
    font-family: sans-serif;
}

body {
    background-color: gray;
    border: 10px solid yellow;
}

.main-body {
    margin: auto;
    background-color: black;
    color: gray;
    text-align: center;
}

.page-title {
    font-size: 40px;
}

.sub-heading {
    font-size: 20px;
}

.sub-heading.method {
    text-align: left;
}

.method-content {
    text-align: left;
}

.nav li{
    display: inline;
    background-color: yellow;
}